Security/obj/Debug/netcoreapp2.0/Security.assets.cache
Security/obj/Debug/netcoreapp2.0/Security.AssemblyInfoInputs.cache
SampleNetCoreAPI/obj/project.assets.json
SampleNetCoreAPI/obj/SampleNetCoreAPI.csproj.nuget.g.props
SampleNetCoreAPI/obj/SampleNetCoreAPI.csproj.nuget.cache
SampleNetCoreAPI/obj/Debug/netcoreapp2.0/SampleNetCoreAPI.csprojAssemblyReference.cache
NotificationLayer/obj/Debug/netcoreapp2.0/NotificationLayer.assets.cache
NotificationLayer/obj/Debug/netcoreapp2.0/NotificationLayer.AssemblyInfoInputs.cache
JWT/obj/project.assets.json
JWT/obj/JWT.csproj.nuget.g.props
JWT/obj/JWT.csproj.nuget.cache
JWT/obj/Debug/netcoreapp2.0/JWT.csprojAssemblyReference.cache
JWT/obj/Debug/netcoreapp2.0/JWT.assets.cache
JWT/obj/Debug/netcoreapp2.0/JWT.AssemblyInfoInputs.cache
DataAccess/obj/project.assets.json
DataAccess/obj/Debug/netcoreapp2.0/DataAccess.csprojAssemblyReference.cache
DataAccess/obj/Debug/netcoreapp2.0/DataAccess.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/netcoreapp2.0/DataAccess.assets.cache
DataAccess/obj/DataAccess.csproj.nuget.g.props
DataAccess/obj/DataAccess.csproj.nuget.cache
CronJob/obj/project.assets.json
CronJob/obj/Debug/netcoreapp2.0/CronJob.csprojAssemblyReference.cache
CronJob/obj/Debug/netcoreapp2.0/CronJob.csproj.CoreCompileInputs.cache
CronJob/obj/Debug/netcoreapp2.0/CronJob.assets.cache
CronJob/obj/CronJob.csproj.nuget.g.props
CronJob/obj/CronJob.csproj.nuget.cache
Common/obj/project.assets.json
Common/obj/Debug/netcoreapp2.0/Common.csprojAssemblyReference.cache
Common/obj/Debug/netcoreapp2.0/Common.csproj.CoreCompileInputs.cache
Common/obj/Debug/netcoreapp2.0/Common.assets.cache
Common/obj/Debug/netcoreapp2.0/Common.AssemblyInfoInputs.cache
Security/obj/project.assets.json
Security/obj/Security.csproj.nuget.g.props
Security/obj/Security.csproj.nuget.cache
Security/obj/Debug/netcoreapp2.0/Security.csprojAssemblyReference.cache
Security/obj/Debug/netcoreapp2.0/Security.csproj.CoreCompileInputs.cache
Common/obj/Common.csproj.nuget.g.props
Common/obj/Common.csproj.nuget.cache
BusinessAccess/obj/project.assets.json
BusinessAccess/obj/Debug/netcoreapp2.0/BusinessAccess.csprojAssemblyReference.cache
BusinessAccess/obj/Debug/netcoreapp2.0/BusinessAccess.csproj.CoreCompileInputs.cache
BusinessAccess/obj/Debug/netcoreapp2.0/BusinessAccess.assets.cache
BusinessAccess/obj/BusinessAccess.csproj.nuget.g.props
BusinessAccess/obj/BusinessAccess.csproj.nuget.cache
.vs/SampleNetCoreAPI/v15/Server/sqlite3/storage.ide-wal
.vs/SampleNetCoreAPI/v15/Server/sqlite3/storage.ide-shm
.vs/SampleNetCoreAPI/v15/Server/sqlite3/storage.ide
.vs/SampleNetCoreAPI/v15/.suo
SampleNetCoreAPI/obj/Debug/netcoreapp2.0/SampleNetCoreAPI.assets.cache
SampleNetCoreAPI/obj/Debug/netcoreapp2.0/SampleNetCoreAPI.AssemblyInfoInputs.cache
NotificationLayer/obj/project.assets.json
NotificationLayer/obj/NotificationLayer.csproj.nuget.g.props
NotificationLayer/obj/NotificationLayer.csproj.nuget.cache
NotificationLayer/obj/Debug/netcoreapp2.0/NotificationLayer.csprojAssemblyReference.cache
BusinessAccess/obj/Debug/netcoreapp2.0/BusinessAccess.AssemblyInfoInputs.cache
CronJob/obj/Debug/netcoreapp2.0/CronJob.AssemblyInfoInputs.cache
NotificationLayer/obj/Debug/netcoreapp2.0/NotificationLayer.csproj.CoreCompileInputs.cache
SampleNetCoreAPI/obj/Debug/netcoreapp2.0/SampleNetCoreAPI.csproj.CoreCompileInputs.cache
DataAccess/obj/Debug/netcoreapp2.0/DataAccess.AssemblyInfoInputs.cache
JWT/obj/Debug/netcoreapp2.0/JWT.csproj.CoreCompileInputs.cache
